In [80]:
import pandas as pd 
import getpass
import json
import os
import requests
import re

In [81]:
df = pd.read_csv('./INPUT/avocado.csv', encoding = "cp1252")

In [82]:
df.head(10)

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
5,5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.0,conventional,2015,Albany
6,6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.0,conventional,2015,Albany
7,7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.0,conventional,2015,Albany
8,8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.0,conventional,2015,Albany
9,9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.0,conventional,2015,Albany

In [83]:
len(df.columns)

14

In [84]:
df.shape

(18249, 14)

In [85]:
df.columns

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

In [86]:
set(df['region'])

{'Albany',
 'Atlanta',
 'BaltimoreWashington',
 'Boise',
 'Boston',
 'BuffaloRochester',
 'California',
 'Charlotte',
 'Chicago',
 'CincinnatiDayton',
 'Columbus',
 'DallasFtWorth',
 'Denver',
 'Detroit',
 'GrandRapids',
 'GreatLakes',
 'HarrisburgScranton',
 'HartfordSpringfield',
 'Houston',
 'Indianapolis',
 'Jacksonville',
 'LasVegas',
 'LosAngeles',
 'Louisville',
 'MiamiFtLauderdale',
 'Midsouth',
 'Nashville',
 'NewOrleansMobile',
 'NewYork',
 'Northeast',
 'NorthernNewEngland',
 'Orlando',
 'Philadelphia',
 'PhoenixTucson',
 'Pittsburgh',
 'Plains',
 'Portland',
 'RaleighGreensboro',
 'RichmondNorfolk',
 'Roanoke',
 'Sacramento',
 'SanDiego',
 'SanFrancisco',
 'Seattle',
 'SouthCarolina',
 'SouthCentral',
 'Southeast',
 'Spokane',
 'StLouis',
 'Syracuse',
 'Tampa',
 'TotalUS',
 'West',
 'WestTexNewMexico'}

In [87]:
df=df.drop(['4046','4225','4770','Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags'],axis=1)

In [88]:
df.head(10)

,Unnamed: 0,Date,AveragePrice,Total Volume,type,year,region
0,0,2015-12-27,1.33,64236.62,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,conventional,2015,Albany
5,5,2015-11-22,1.26,55979.78,conventional,2015,Albany
6,6,2015-11-15,0.99,83453.76,conventional,2015,Albany
7,7,2015-11-08,0.98,109428.33,conventional,2015,Albany
8,8,2015-11-01,1.02,99811.42,conventional,2015,Albany
9,9,2015-10-25,1.07,74338.76,conventional,2015,Albany

In [90]:
len(set(df['Unnamed: 0']))

53

In [91]:
df=df.rename(columns={'Unnamed: 0': 'id'})

In [121]:
r=df[(df.Date=='2015-10-25') & (df.region=='Albany') & (df.type=='conventional')]

In [122]:
r

   id        Date  AveragePrice  Total Volume          type  year  region
9   9  2015-10-25          1.07      74338.76  conventional  2015  Albany

In [131]:
data=[]
data.append(r['AveragePrice'].item())
data.append(r['Total Volume'].item())
data

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: `item` has been deprecated and will be removed in a future version

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: `item` has been deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

[1.07, 74338.76]

In [113]:
r[r.AveragePrice=='1.07'].AveragePrice.item()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: `item` has been deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

ValueError: can only convert an array of size 1 to a Python scalar

In [105]:
avg

[9    1.07
 Name: AveragePrice, dtype: float64]